/* --------------------------------------------------
  * Copyright 2024 - MMH Develop by Mahmudul Hasan
* --------------------------------------------------*/
/*=================Scss Indexing=============
1.variables
2.commons
3.header
4.banner
5.about
6.skill
7.services
8.portfolio
9.pricing
10.testimonial
11.footer
==============================================  */
:root {
  --color-primary: #DE4A33;
  --color-secondary: #FFF4ED;
  --color-title: #302727;
  --color-body: #45454c;
  --color-white:#ffffff;
  --color-black:#000000;
  --color-border:#ccc;
  --font-primary: "Outfit", sans-serif;
  --font-title: "Quicksand", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-sm-bold: 600;
  --font-bold: 700;
  --font-ex-bold: 800;
  --bg-1:#1f2124;
  --bg-2: linear-gradient(145deg, #e2e8ec, #ffffff);
  --bg-3:#141414;
  --section-bg:#FFF6EC;
  --shadow-1: 2px 2px 20px 0px #1d1d1f80;
  --shadow-2: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --shadow-3: 0 0 10px rgba(0,0,0,0.1);
  --transition-03: .3s;
  --transition-05: .5s; }

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--color-body);
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

main {
  overflow-x: hidden; }

a {
  text-decoration: none; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
  font-weight: var(--font-bold);
  font-family: var(--font-title); }

a {
  color: var(--color-primary); }

html {
  scroll-behavior: smooth; }

/* WebKit Browsers */
body::-webkit-scrollbar,
.mh-left-area::-webkit-scrollbar {
  width: 6px;
  background: var(--color-secondary); }

body::-webkit-scrollbar-thumb,
.mh-left-area::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px; }

::selection {
  color: var(--color-white);
  background: var(--color-primary); }

::-moz-selection {
  color: var(--color-white);
  background: var(--color-primary); }

.mh-section-gap {
  padding: 120px 0px; }
  @media only screen and (max-width: 991.98px) {
    .mh-section-gap {
      padding: 60px 0px; } }

.mh-section-gap2 {
  padding: 80px 0px; }
  @media only screen and (max-width: 991.98px) {
    .mh-section-gap2 {
      padding: 60px 0px; } }

.fs-14 {
  font-size: 14px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-48 {
  font-size: 48px !important; }

.fw-500 {
  font-weight: var(--font-medium) !important; }

.fw-600 {
  font-weight: var(--font-sm-bold) !important; }

.fs-large {
  font-size: 180px;
  line-height: 180px; }
  @media only screen and (max-width: 1024px) {
    .fs-large {
      font-size: 120px;
      line-height: 100px; } }
  @media only screen and (max-width: 767px) {
    .fs-large {
      font-size: 60px;
      line-height: 60px; } }

.mh-color1 {
  color: var(--color-primary) !important; }

.mh-color1-hover:hover {
  transition: var(--transition-03);
  color: var(--color-primary) !important; }

.mh-color2 {
  color: var(--color-secondary) !important; }

.mh-color-title {
  color: var(--color-title) !important; }

.mh-color-body {
  color: var(--color-body) !important; }

.mh-bg-primary {
  background: var(--color-primary) !important; }

.mh-bg-secondary {
  background: var(--color-secondary) !important; }

.section-bg {
  background: var(--section-bg) !important; }

.mh-border {
  border: 1px solid var(--color-border) !important; }

.mh-section-heading {
  max-width: 500px;
  width: 100%;
  padding-bottom: 30px; }
  .mh-section-heading h2 {
    margin-bottom: 20px; }

/** Button **/
.btn-primary {
  padding: 12px 30px;
  font-weight: var(--font-medium);
  color: var(--color-white);
  background: var(--bg-1);
  display: inline-block;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: var(--transition-05);
  transition-duration: var(--transition-05);
  min-width: max-content;
  border-radius: 100px;
  border: 0;
  line-height: 1.2; }
  .btn-primary::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-duration: var(--transition-05);
    transition-duration: var(--transition-05);
    border-radius: 100px; }
  .btn-primary:hover {
    background: var(--bg-1);
    color: var(--color-white); }
  .btn-primary:hover::before {
    transform: scaleX(0); }

.btn-secondary {
  padding: 12px 20px;
  font-weight: var(--font-medium);
  color: var(--color-white);
  background: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: var(--transition-05);
  transition: var(--transition-05);
  min-width: max-content;
  border-radius: 6px;
  border: 0;
  overflow: hidden;
  z-index: 1;
  line-height: 1.2; }
  .btn-secondary svg {
    width: 20px;
    height: 20px;
    transition: var(--transition-03); }
  .btn-secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    z-index: -1;
    -webkit-transition-duration: var(--transition-05);
    transition-duration: var(--transition-05); }
  .btn-secondary:hover::before {
    left: 0%; }
  .btn-secondary:hover svg {
    transform: rotate(45deg); }

.btn-border {
  font-weight: var(--font-medium);
  color: var(--color-title);
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .btn-border svg {
    width: 20px;
    height: 20px;
    transition: var(--transition-05); }
  .btn-border::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 1px;
    background: var(--color-primary);
    -webkit-transition-duration: var(--transition-05);
    transition-duration: var(--transition-05); }
  .btn-border:hover {
    color: var(--color-primary); }
    .btn-border:hover::before {
      width: 100%; }
    .btn-border:hover svg {
      transform: rotate(45deg); }

.mh-scale {
  transition: var(--transition-05); }
  .mh-scale:hover {
    -webkit-transform: scale(1.2) skew(-2deg);
    transform: scale(1.2) skew(-2deg); }

.mh-social-info li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: var(--bg-2);
  box-shadow: var(--shadow-2);
  color: var(--color-body);
  font-size: 20px;
  transition: var(--transition-03); }
  .mh-social-info li a:hover {
    color: var(--color-primary);
    transform: translateY(-8px); }

.mh-popup-video {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-title);
  transition: var(--transition-03); }
  .mh-popup-video i {
    width: 50px;
    aspect-ratio: 1;
    background: var(--color-title);
    color: var(--color-white);
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    margin-right: 5px;
    font-size: 14px;
    transition: var(--transition-03); }
  .mh-popup-video:hover {
    color: var(--color-primary); }
    .mh-popup-video:hover i {
      background: var(--color-primary); }

.anim {
  position: relative; }
  .anim::after, .anim::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    animation: waves 4s ease-in-out infinite;
    transition: all var(--transition-03);
    z-index: -1; }
  .anim::before {
    left: -30px;
    top: -50px;
    width: 110px;
    height: 110px;
    border-width: 2px; }
  .anim::after {
    left: -15px;
    top: -32px;
    width: 80px;
    height: 80px; }

.position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

@keyframes mhScaleX1 {
  100% {
    transform: scaleX(1); } }
@keyframes mhSticky {
  0% {
    top: -100px; }
  100% {
    top: 0px; } }
@keyframes TopToBottom {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.TopToBottom {
  animation: TopToBottom 10s linear infinite; }

@keyframes BottomToTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  30% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.BottomToTop {
  animation: BottomToTop 10s linear infinite; }

@keyframes LeftToRight {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  30% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.LeftToRight {
  animation: LeftToRight 10s linear infinite; }

@keyframes RightToLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  30% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  80% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.RightToLeft {
  animation: RightToLeft 10s linear infinite; }

@keyframes fadeOutToIn {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  50% {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.5);
    transform: translate3d(0, 10px, 0) scale(0.5); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeOutToIn {
  animation: fadeOutToIn 10s linear infinite; }

@keyframes LeftToRightSlide {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@keyframes RightToLeftSlide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes bg-noiseAnimation {
  0% {
    transform: translate3d(0, 9rem, 0); }
  10% {
    transform: translate3d(-1rem, -4rem, 0); }
  20% {
    transform: translate3d(-8rem, 2rem, 0); }
  30% {
    transform: translate3d(9rem, -9rem, 0); }
  40% {
    transform: translate3d(-2rem, 7rem, 0); }
  50% {
    transform: translate3d(-9rem, -4rem, 0); }
  60% {
    transform: translate3d(2rem, 6rem, 0); }
  70% {
    transform: translate3d(7rem, -8rem, 0); }
  80% {
    transform: translate3d(-9rem, 1rem, 0); }
  90% {
    transform: translate3d(6rem, -5rem, 0); }
  100% {
    transform: translate3d(-7rem, 0, 0); } }
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0; }
  50% {
    opacity: 0.9; }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0; } }
/*==== marquee */
.mh-marquee-area .marquee {
  margin: 0 -10px; }
  .mh-marquee-area .marquee.marquee-1 {
    color: var(--color-title); }
    .mh-marquee-area .marquee.marquee-1 .marquee-content {
      animation: LeftToRightSlide 20s linear infinite; }
    .mh-marquee-area .marquee.marquee-1.rotate {
      transform: rotate(4deg); }
  .mh-marquee-area .marquee.marquee-2 {
    background: var(--bg-3);
    color: var(--color-white); }
    .mh-marquee-area .marquee.marquee-2 .marquee-content {
      animation: RightToLeftSlide 20s linear 0s infinite; }
    .mh-marquee-area .marquee.marquee-2.rotate {
      transform: rotate(-4deg);
      margin-top: -90px; }
  .mh-marquee-area .marquee .marquee-content {
    white-space: nowrap;
    position: relative;
    z-index: 1;
    min-width: 100%;
    flex: 0 0 auto; }
    .mh-marquee-area .marquee .marquee-content .marque-item {
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      font-size: 40px;
      font-weight: 500; }
      .mh-marquee-area .marquee .marquee-content .marque-item i {
        margin: 0 20px;
        color: var(--color-primary); }

.mh-bg-overly {
  background-color: var(--bg-3); }

.mh-popup {
  cursor: zoom-in; }

.navbar .nav-item {
  margin: 0 10px; }
  .navbar .nav-item .nav-link {
    color: var(--color-white);
    font-weight: var(--font-medium);
    padding: 0; }
    .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active {
      color: var(--color-primary); }

header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1001;
  background: var(--bg-dark-1);
  margin: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0); }

.header-sticky.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background: var(--bg-1);
  box-shadow: var(--shadow-1);
  animation: mhSticky 1s; }
  .header-sticky.sticky .default-logo {
    display: none; }
  .header-sticky.sticky .sticky-logo {
    display: block !important; }
  .header-sticky.sticky .navbar .nav-link {
    color: var(--color-white); }
    .header-sticky.sticky .navbar .nav-link:hover, .header-sticky.sticky .navbar .nav-link.active {
      color: var(--color-primary); }
  .header-sticky.sticky .navbar.style2 .nav-link:hover, .header-sticky.sticky .navbar.style2 .nav-link.active {
    color: var(--color-white); }
  .header-sticky.sticky .btn-primary:hover {
    background-color: var(--color-black); }

.mh-hamburger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 3%;
  left: auto;
  transform: translate(0%, -50%);
  display: none;
  flex-direction: column;
  justify-content: space-between; }
  .mh-hamburger .bar {
    height: 4px;
    background: var(--color-white);
    border-radius: 2px;
    transition: var(--transition-03); }
    .mh-hamburger .bar.half {
      width: 70%;
      margin-left: 30%; }
  .mh-hamburger.active .bar {
    background-color: var(--color-white); }
    .mh-hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg) translateY(15px); }
    .mh-hamburger.active .bar:nth-child(2) {
      opacity: 0; }
    .mh-hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-15px); }

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav {
    display: flex !important; }

  .mh-mobile-menu {
    display: none; } }
@media only screen and (max-width: 991.98px) {
  .mh-hamburger {
    display: flex;
    z-index: 1000; }

  header .navbar .navbar-nav {
    display: none; } }
.mh-mobile-menu {
  position: fixed;
  max-width: 460px;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  background: var(--bg-1);
  padding: 30px;
  border-radius: 0;
  z-index: 900;
  transform: translate3d(520px, 0, 0);
  transition: transform var(--transition-03);
  transition-timing-function: cubic-bezier(0.42, 0.37, 0.72, 0.84); }
  .mh-mobile-menu li a {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--color-white);
    transition: var(--transition-03); }
    .mh-mobile-menu li a:hover, .mh-mobile-menu li a.active {
      color: var(--color-primary) !important; }
  .mh-mobile-menu.on-menu {
    transform: translate3d(0, 0, 0); }

.mh-banner-area {
  overflow: hidden; }
  .mh-banner-area .content-area .typed-text {
    color: var(--color-primary); }
  .mh-banner-area .content-area p {
    max-width: 500px;
    width: 100%;
    color: #dadadb; }
  .mh-banner-area .content-area .logo-img img {
    max-width: 45px;
    transition: var(--transition-03); }
    .mh-banner-area .content-area .logo-img img:hover {
      transform: translateY(-5px); }
  .mh-banner-area .banner-image {
    max-width: 400px;
    width: 100%;
    height: max-content;
    margin: auto; }
  .mh-banner-area .banner-shape {
    left: 50%;
    bottom: 5%; }

.home-1 .mh-banner-area {
  background-image: url(../images/banner/bg-shape.png);
  background-color: var(--bg-3);
  background-position: center;
  background-repeat: repeat; }
  .home-1 .mh-banner-area .mh-social-info li a {
    box-shadow: 5px 5px 15px var(--bg-3), -5px -5px 15px var(--color-black); }

.mh-breadcrumb-area {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 350px;
  padding-top: 3rem;
  background-color: var(--bg-1); }
  .mh-breadcrumb-area .breadcrumb-inner {
    position: relative;
    z-index: 1; }
  .mh-breadcrumb-area .shapes {
    margin-bottom: -2rem;
    width: 20%; }
    @media only screen and (max-width: 767.98px) {
      .mh-breadcrumb-area .shapes {
        width: 200px; } }

.mh-about-area .about-image {
  position: relative; }
.mh-about-area .about-content h2 {
  margin-bottom: 20px; }

.mh-counter-thumbnail .counter-card {
  top: -15px;
  left: -30px;
  padding: 25px 20px;
  border-radius: 10px;
  max-width: 230px;
  color: var(--color-white); }
  .mh-counter-thumbnail .counter-card .title {
    color: var(--color-white); }
  .mh-counter-thumbnail .counter-card p {
    min-width: max-content; }
  .mh-counter-thumbnail .counter-card.bottom {
    top: unset;
    left: unset;
    right: -30px;
    bottom: -25px; }

.mh-progress-bar.style-1 {
  margin-bottom: 20px; }
  .mh-progress-bar.style-1 .progress-text {
    margin-bottom: 12px;
    font-size: 16px; }
  .mh-progress-bar.style-1 .mh-progress {
    position: relative;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    transform-origin: left; }
    .mh-progress-bar.style-1 .mh-progress span {
      position: absolute;
      background: var(--color-primary);
      height: 100%;
      border-radius: 10px;
      transform: scaleX(0);
      transform-origin: left;
      animation: mhScaleX1 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards; }
      .mh-progress-bar.style-1 .mh-progress span::after {
        position: absolute;
        content: attr(data-value);
        right: 0;
        top: -40px;
        color: #f0f0f0;
        font-size: 12px;
        font-weight: var(--font-bold);
        background: #202020;
        padding: 6px 10px;
        border-radius: 3px; }
      .mh-progress-bar.style-1 .mh-progress span::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        right: 0;
        top: -12px;
        border: 8px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: var(--bg-1); }

.g-60 {
  --bs-gutter-y: 60px;
  --bs-gutter-x: 60px; }

.mh-service-box {
  box-shadow: var(--shadow-3);
  padding: 30px 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: var(--transition-03); }
  .mh-service-box .box-icon {
    height: 100%;
    max-width: max-content; }
    .mh-service-box .box-icon i {
      font-size: 55px;
      color: var(--color-primary); }
  .mh-service-box .icon-btn {
    opacity: 0;
    font-size: 25px;
    color: var(--color-white);
    display: inline-block; }
    .mh-service-box .icon-btn > * {
      transition: var(--transition-03); }
  .mh-service-box.style1 > *, .mh-service-box.style2 > * {
    transition: var(--transition-03);
    transform: translateY(20px); }
  .mh-service-box.style2 {
    box-shadow: none;
    border-radius: 0;
    color: var(--color-white); }
    .mh-service-box.style2.mt-60 {
      margin-top: 60px; }
    .mh-service-box.style2.mb-60 {
      margin-bottom: 60px; }
    .mh-service-box.style2 .title {
      color: var(--color-white); }
    .mh-service-box.style2 .box-content {
      padding-bottom: 25px; }
      .mh-service-box.style2 .box-content .icon-btn {
        opacity: 1;
        color: var(--color-primary);
        background: var(--color-white);
        padding: 16px 18px;
        display: inline-grid;
        border-radius: 50%; }
  .mh-service-box:hover.style1 > *, .mh-service-box:hover.style2 > * {
    transform: translateY(0px); }
  .mh-service-box:hover.style1 .box-icon i, .mh-service-box:hover.style2 .box-icon i {
    color: var(--color-white); }
  .mh-service-box:hover.style1 .icon-btn, .mh-service-box:hover.style2 .icon-btn {
    opacity: 1; }
    .mh-service-box:hover.style1 .icon-btn:hover i, .mh-service-box:hover.style2 .icon-btn:hover i {
      transform: rotate(-30deg); }
  .mh-service-box:hover.style2 .box-icon i {
    color: var(--color-primary); }

.mh_filter_item button {
  padding: 5px 20px;
  background: transparent;
  border: none;
  border-radius: 6px;
  transition: var(--transition-05); }
  .mh_filter_item button.mixitup-control-active {
    background: var(--color-primary);
    color: var(--color-white); }

.mh-portfolio-item .grid-item {
  display: block;
  position: relative;
  transition: var(--transition-05);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: var(--shadow-3); }
  .mh-portfolio-item .grid-item .thumbnail {
    height: 350px; }
    .mh-portfolio-item .grid-item .thumbnail img {
      transition: var(--transition-05);
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .mh-portfolio-item .grid-item .mh-portfolio-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    opacity: 0;
    transition: var(--transition-03);
    z-index: 1; }
    .mh-portfolio-item .grid-item .mh-portfolio-icon svg {
      width: 30px;
      fill: var(--color-primary);
      transition: var(--transition-03); }
    .mh-portfolio-item .grid-item .mh-portfolio-icon:hover svg {
      transform: rotate(90deg); }
  .mh-portfolio-item .grid-item .grid-content {
    position: absolute;
    left: 5%;
    bottom: 6%;
    width: 80%;
    background: var(--color-white);
    padding: 20px;
    z-index: 3; }
    .mh-portfolio-item .grid-item .grid-content .p-title {
      color: var(--color-title);
      font-weight: var(--font-bold); }
      .mh-portfolio-item .grid-item .grid-content .p-title:hover {
        color: var(--color-primary); }
    .mh-portfolio-item .grid-item .grid-content .cat {
      font-size: 16px;
      font-weight: var(--font-medium); }
      .mh-portfolio-item .grid-item .grid-content .cat:hover {
        color: var(--color-title); }
  .mh-portfolio-item .grid-item::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-1);
    opacity: .4; }
  .mh-portfolio-item .grid-item:hover img {
    transform: scale(1.1); }
  .mh-portfolio-item .grid-item:hover .mh-portfolio-icon {
    opacity: 1; }

.pricing-table .mh-single-price {
  padding: 45px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  transition: var(--transition-03); }
  .pricing-table .mh-single-price .price-wrapper {
    line-height: normal;
    border-bottom: 1px solid #ddd; }
    .pricing-table .mh-single-price .price-wrapper .price {
      font-size: 48px;
      padding-right: 5px; }
  .pricing-table .mh-single-price .price-features li {
    text-align: left;
    margin-bottom: 10px !important; }
    .pricing-table .mh-single-price .price-features li i {
      margin-top: 5px;
      color: var(--color-primary); }
  .pricing-table .mh-single-price:hover, .pricing-table .mh-single-price.active {
    border-color: var(--color-primary);
    box-shadow: 0 0 20px 2px rgba(5, 3, 1, 0.1); }

.mh-testimonial {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 30px; }
  .mh-testimonial .testi-client {
    margin-bottom: 25px; }
    .mh-testimonial .testi-client .client-img img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover; }
    .mh-testimonial .testi-client .client-info {
      line-height: normal; }
      .mh-testimonial .testi-client .client-info .title {
        margin-bottom: 0px; }
  .mh-testimonial .testi-desc {
    font-size: 18px; }

.slider-nav-style1 {
  position: relative;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  line-height: 0; }
  .slider-nav-style1.testimonial-navigation {
    width: 150px; }
  .slider-nav-style1 .navi-button {
    z-index: 10;
    font-size: 20px;
    color: var(--color-primary); }
    .slider-nav-style1 .navi-button.round {
      width: 35px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid var(--color-primary); }
      .slider-nav-style1 .navi-button.round:hover {
        background: var(--color-primary);
        color: var(--color-white); }

.mh-footer-area {
  background: var(--bg-1);
  color: var(--color-white); }
  .mh-footer-area .nav li {
    margin: 10px; }
    .mh-footer-area .nav li a {
      text-transform: uppercase;
      color: var(--color-white);
      font-weight: var(--font-sm-bold);
      padding: 0; }
      .mh-footer-area .nav li a:hover {
        color: var(--color-primary); }

/* Back to Top Button */
.mh-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  display: none;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer; }

/* SVG Circular Progress */
.mh-progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  z-index: -1; }
  .mh-progress-circle circle {
    fill: none;
    stroke: var(--color-white); }
    .mh-progress-circle circle.progress {
      stroke: var(--color-title);
      stroke-dasharray: 302;
      stroke-dashoffset: 302;
      transition: stroke-dashoffset 0.3s linear; }

/*# sourceMappingURL=style.css.map */
